/* h2,
p,
a {
    color: rgb(255, 133, 133);
} */
/* 
#heading2,
.list {
    color: rgb(255, 133, 133);
    list-style-type: georgian;
} */

/* 

#heading1 {
    color: rgb(133, 198, 255);
}

.list {
    list-style: georgian;
} */

ol li {
    /* color: hsl(0, 100%, 50%); */
    color: hex(#76c447);
    /* text-decoration: underline; */
}

/* h1 {
    padding: 10px 9px 8px 12px;
    border: solid 9px;
    margin: 5px;

}

h1 {
    position: absolute;
    top: 10px

} */


button{
    background-color: rgb(76, 76, 255);
}

button:hover {
    background-color: rgb(0, 162, 255);
}

button:active{
    background-color: rebeccapurple;
}


p::first-letter {
    font: bolder;
    font-family: cursive;
    font-size: larger;
}

@keyframes anim1 {
    from {background-color: red;}
    to {background-color: blue;}    
}

@keyframes anim2 {
    from {transform: translateX(0);}
    to {transform: translateX(50%);}
}

h1 {
    animation-name: anim1;
    animation-duration: 5s;
    animation-iteration-count: 15;
}

h2{
    animation-name: anim2;
    animation-duration: 5s;
    animation-iteration-count: 100;
    animation-delay: 100ms;
}